# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.lck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb
*-backups
*backups
**/build/
/build/*
/build/scripts/*
**/releases/
**/lib
**/.vscode/

# Portable builds and dependency downloads
/.deps/
/firmware/
__pycache__/
.DS_Store
**/tool/loadrom
**/tool/multirom
**/tool/explorer
**/tool/yamanooto
**/tool/*.uf2
**/build22k/

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses
